# Miscellaneous

*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.idea/
.vscode/
releases/
*.iml
*.iws
*.ipr
/calc.html
/calc.js

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/captures/
/android/local.properties

# Windows related
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.cc

# Keys and Secrets
*.jks
*.keystore
key.properties

# Enigma Virtual Box
*.evb
!metallcalc.evb
